<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent!</h3>
            <hr>
            <!--
            selector as element
            <app-servers></app-servers>

            selector as attribute
            <div app-servers></div>

            selector as class
            <div class="app-servers"></div>
            

            <app-success></app-success>
            <app-warning></app-warning>
            -->
            
            
            <app-servers></app-servers>
            
        </div>
    </div>
</div>